* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    position: relative;
    top: 30px;
    margin: 20px;
}

.users {
    background-color: rgb(39, 39, 39);
    width: 200px;
    padding: 10px;
    margin: 35px 0px 0px 20px;
    border-radius: 10px;
}

.image {
    height: 150px;
    width: 150;
    background-color: rgb(70, 69, 69);
    border-radius: 10px;
    overflow: hidden;
}

h3 {
    padding-top: 8px;
}

h5 {
    color: rgb(100, 100, 100);
}

.btn {
    padding-top: 25px;
    display: flex;
    gap: 10px;
    font-size:small;
}

a {
    text-decoration: none;
}

.del {
    color: rgb(236, 20, 20);
}

.back {
    position: relative;
    top: 20px;
    margin: 20px;
    color: rgb(51, 51, 214);
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h4 {
    margin: 20px;
    color: gray;
}