* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

h1 {
    margin: 50px 20px 10px 20px;
}

.container {
    margin: 10px;
    padding: 10px;
}

input {
    padding: 5px;
    background-color: gray;
    outline: none;
    color: black;
    border-radius: 5px;
}

input::placeholder {
    color: rgb(80, 78, 78);
}

.submit {
    background-color: #3c3ce7;
    margin-left: 10px;
    color: white;
}

a {
    position: relative;
    top: 20px;
    margin: 20px;
    color: rgb(51, 51, 214);
    text-decoration: no;
}
