* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.container {
    margin: 20px;
    padding: 10px;
}

h2 {
    margin-bottom: 5px;
}

h5 {
    margin-bottom: 20px;
}

textarea {
    resize: none;
    display: block;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    text-decoration: none;
}

input {
    width: 150px;
    padding: 7px;
    border-radius: 8px;
    background-color: rgb(43, 77, 230);
    margin-top: 5px;
    outline: none;
    border: none;
    text-decoration: none;
}

input:hover {
    background-color: rgb(62, 94, 233);
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.logout {
    background-color:#ff4242;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.logout:hover {
    background-color:   #f71414;
}

.posts {
    margin-top: 20px;
}

.post {
    width: 500px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(29, 28, 28);
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    font-size: medium;
}

.like {
    text-decoration: none;
    color: rgb(43, 94, 236);
}

.edit {
    text-decoration: none;
    color: rgb(82, 81, 81);
}

.delete {
    text-decoration: none;
    color: rgb(207, 56, 56);
}

.greet {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}