<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <h1>Login</h1>
    <div class="container">
        <form action="/login" method="post">
            <input type="text" name="email" id="" placeholder="email" >
            <input type="password" name="password" id="" placeholder="password" >
            <input class="submit "type="submit" name="" id="" value="Login" required>
        </form>
    </div>
</body>
</html> 