* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.form input {
    display: block;
    outline: none;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.form textarea {
    resize: none;
    outline: none;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    width: 20%;
    background-color: #444;
}

.title {
    width: 20%;
    background-color: #444;
    padding: 5px 10px;
    color: #adadad;
}

.btn {
    background-color: rgb(37, 99, 235);
    padding: 6px 8px;
}

a {
    color: rgb(51, 51, 228);   
    margin: 10px;
}

.container {
    margin: 20px;
    
}