* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.form input {
    display: block;
    outline: none;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.form textarea {
    resize: none;
    outline: none;
    border: none;
    padding: 5px 2px;
    margin: 10px;
    border-radius: 5px;
    width: 90%;
    background-color: #444;
}

.title {
    width: 90%;
    background-color: #444;
    padding: 5px 2px;
}

.btn {
    background-color: rgb(37, 99, 235);
    padding: 6px 8px;
}

.tasks-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.task {
    width: 300px;
    background-color: #444;
    margin: 50px 0px 0px 10px;
    padding: 6px 8px;
    border-radius: 5px;
    letter-spacing: -0.05em;
    /* display: none; */
}

.task a {
    color: rgb(37, 99, 235);
    display: inline-block;
    margin-top: 5px;
}

.tasks-container h3 {
    margin: 50px 0px 0px 10px;
}

.a-tag {
    display: flex;
    justify-content: space-between;
}

a.edit {
    color: gray;
}

h4 {
    display: inline-block;
}

.top {
    display: flex;
    justify-content: space-between;
}

.delete {
  display: inline-block;     
  padding: 2px 8px;
  background-color: #d12b2b;
  text-decoration: none;      
  border-radius: 6px;
  font-weight: 300;
}

